footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: rgba(0, 0, 0, 0.2);
  margin-top: 50px;
  padding: 40px 15px;
  border-radius: 10px;
}

footer span b:first-child {
  color: rgb(250, 50, 50);
}
