.profile-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  font-size: 30px;
  a {
    color: var(--tertiary-color);
    &:hover {
      filter: var(--brightness-hover);
    }
  }
}
