.profile-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  font-size: 30px;
}

.profile-links a {
  color: var(--tertiary-color);
}

.profile-links a:hover {
  filter: var(--brightness-hover);
}
